{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/idLogin.css' %}">
        <title>Signup with Id/Pwd</title>
    </head>
    <body>    
        <div class = "container">
            <div class = "content">
                <div class = "logo">
                    <h1>개강한 대학생</h1>
                </div>
                <form class = "login" method="POST" action="{%url 'idSignup' %}">
                    {% csrf_token %}
                    {% if error %}
                        <p>{{error}}</p>
                        <br>
                    {% endif %}
                    <input class = "input"  name="username" type="text" placeholder="아이디">
                    <input class = "input" name="password" type="password" placeholder="비밀번호">
                    <input class = "input" name="passwordCheck" type="password" placeholder="비밀번호 확인">
                    <input class = "loginbutton" type="submit" value="회원가입">
                </form>
            </div>
        </div>
    </body>
</html>