{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/idLogin.css' %}">
        <title>Login with id/pwd</title>
    </head>
    <body>    
        <div class = "container">
            <div class = "content">
                <div class = "logo">
                    <img src="{% static 'leftarm.png' %}" width="60px"> 
                    <h1>개강한 대학생</h1>
                    <img src="{% static 'rightarm.png' %}" width="60px">
                </div>
                <form class = "login" method="POST" action="{%url 'lmsSignup' %}">
                    {% csrf_token %}
                    {% if error %}
                        <p>{{error}}</p>
                        <br>
                    {% endif %}
                    <input class = "input"  name="lmsId" type="text" placeholder="학교 LMS 아이디">
                    <input class = "input" name="lmsPwd" type="password" placeholder="학교 LMS 비밀번호">
                    <input class = "input" name="lmsPwdCheck" type="password" placeholder="비밀번호 확인">
                    <input class = "loginbutton" type="submit" value="회원가입">
                </form>
            </div>
        </div>
    </body>
</html>