{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class = "container">
        <div class = "content">
            <div class = "logo">
                <h1>개강한 대학생</h1>
            </div>
            <div class = "login">   
                <div class = "kakaoLogin">
                    <a href= "{% url 'kakao_login' %}">
                        <img src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="300"/>
                    </a>
                </div>
                <div class = "googleLogin loginbutton">
                    <a href= ""><h2>google 로그인</h2></a>
                </div>
                <div class = "manualLogin loginbutton">
                    <a href= ""><h2>ID/비밀번호 로그인</h2></a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
