{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개강한 대학생</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><!--sns아이콘!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <!-- navbar 라미-->
    <div id="header"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">개강한 대학생</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">출석체크</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">마이페이지</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- 본문 내용 -->
    <div class = "timer">타이머가 들어갈 자리입니다</div>
    <div class = "container">
        <div class = "today">Today</div>
        <div class = "task_container">
            <div class = "left_arrow"><-</div>
            <div class = "day_box"></div>
            <div class = "day_box"></div>
            <div class = "day_box"></div>
            <div class = "day_box"></div>
            <div class = "day_box"></div>
            <div class = "right_arrow">-></div>
        </div>
    </div>

    <!--footer : 병구 담당-->
    <div id="footer" style="background-color: rgba(16, 60, 180, 0.158)">
          <br>
          <div class = "container text-center text-md-start mt-5">
            <!-- 소개, 연락, SNS -->
            <div class="row mt-3">
                <!-- 소개 -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">라떼는말이야</h6>
                    <hr class = "one">
                    <p>저희 개강한 대학생은 라떼는말이야 팀이 너무 불편했던 한국항공대학교 LMS 시스템을 개선해보고자 만든 사이트입니다.</p>
                </div>
        
                <!-- 연락 -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <hr class = "one">
                    <p>경기도 고양시 덕양구 한국항공대학교</p>
                    <p>Latteishorse@gmail.com</p>
                    <p>+ 82 031-****-***</p>
                    <p>+ 82 010-****-****</p>
                </div>
        
                <!-- SNS -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">SNS</h6>
                    <hr class = "one">
                    <p><a target="_blank" href="https://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a> instagram</p>
                    <p><a target="_blank" href="https://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> facebook</p>
                    <p><a target="_blank" href="https://twitter.com" ><i class="fa fa-twitter-square" aria-hidden="true"></i></a> twitter</p>
                </div>
    
            </div>
        </div>
    </div>
    {% block asd %}
    {% endblock %}
</body>
</html>